@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
	scrollbar-width: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

dialog {
	max-width: 100vw;
	max-height: 100vh;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
